## Bases de datos relacionales

#### ¿Qué es una base de datos relacional?

Es una colección de información que organizan datos en relaciones predefinidas, en la que los datos se almacenan en una o mas **tablas** (o relaciones) de columnas y filas , lo que facilita la visualización y la compresión de como se relacionan las diferentes estructuras de datos entre si

#### Modelo de una base de datos relacional

El modelo de base de datos relacional permite que cualquier tabla se relacione con otra medinate un atributo en común. En lugar de usar estructuras jerárquicas para organizar los datos. El creador de este modelo que fue EF codd propuso un cambio a un modelo de datos en el que estos últimos se almacenan, se consultan y se relacionan en tablas sin reoganizar las tablas que los contienen.

En el modelo de bases de datos relacional, cada **hoja de calculo** es una tabla que almacena información, representada como columnas (atributos) y filas ( registros o tublas). Donde los atributos (columnas) especifican un tipo de datos y cada registro (fila) contiene el valor de ese tipo de datos especifico.

Un ejemplo seria tener una tabla **Clientes** y una tabla **Pedido**:

<div align="center">
    <img src="https://lh3.googleusercontent.com/_j-DAQG6tx5MwOwhdNFkHMou4fWHRuEbzYr3wEaRClkCnC3W2TR8CnMsAvmVX-rgOICpWX-wrBPc=s1000-w1000" alt="Ejemplo" width="55%">
</div>

La tabla **Clientes** contiene datos sobre el cliente

ID del cliente (Clave primaria)<br>
Nombre del cliente<br>
Dirección de facturación <br>
Dirección de envio

En esta tabla , el id del cliente representa la clave primaria que identifca de forma única a ese cliente en la base de datos , ningún otro cliente tendria el mismo ID de cliente.

En la tabla **Pedido** contiene información transaccional sobre un pedido:

ID de pedido (clave primaria) <br>
ID de cliente ( clave foraneas) <br>
Fecha del pedido <br>
Fecha de envio <br>
Estado del pedido

En esta tabla la clave primaria seria el id del pedido a su vez mediante la clave foraneas se puede conectar un cliente con un pedido mediante el id del cliente de la tabla **Clientes**

Ahora las dos tablas están relacionadas según el ID del cliente compartido, lo que significa que puedes consultar ambas tablas para crear informes o usar datos en otras aplicaciones

#### Beneficios de las bases de datos relacionales

El principal beneficio del modelo de base de datos relacional es que propociona una manera intuitiva de representar datos y permite un acceso fácil a datos relacionados. Por lo tanto, el uso de bases de datos relacionales es más co´mun en las organizaciones que necesitan administrar grandes cantidades de datos estructurados

Otros beneficios para administrar y alamacenar tus datos serian : su flexibilidad, Seguridad, Facilidad de uso,etc...

### Ejemplos de bases de datos relacionales <hr>

#### MySQL

##### ¿Qué es MySQL?

Es un sistema de gestión de bases de datos relacionales de código abierto conocido por su velocidad, fiabilidad y facilidad de uso, utiliza SQL para las interacciones con bases de datos y admite una variedad de funciones para la gestión de datos,incluidas transacciones, indexación y procedimiento almacenados.

MySQL se utiliza ampliamente para aplicaciones web, alamcenamientos de datos y otras aplicaciones debido a su escabilidad y flexibilidad.

##### Declaraciones de MySQL

En esta sección hablaremos de las declaraciones mas destacados de MySQL , en MYSQL hay varios comandos para poder hacer consultas a la bases de datos pero vamos a nombrar algunos que son:

##### CREATE DATABASE y CREATE TABLE

Para crear una base de datos o una tabla en una base de datos utilizamos la palabra o declaración **CREATE** , colocandolo de la siguiente forma la consulta

Para la base de datos:
**CREATE DATABASE Nombre_base_datos;**<br>
Para la Tabla:
**CREATE TABLE Nombre_tabla;**

##### DROP DATABASE y DROP TABLE

Para borrar una base de datos o una tabla existente se utiliza la declaración **DROP** esta borrar ya sea una base de datos o una tabla, colocandolo de la siguiente forma la consulta:

Para la base de datos: **DROP DATABASE Nombre_base_datos;**<br>
Para la tabla: **DROP TABLE Nombre_tabla;**

##### SELECT

La declaración **SELECT** se utiliza para seleccionar datos de una bases de datos. Los datos devueltos se alamacenan en una tabla de resultados , denominada conjunto de resultados.

**SELECT Col1,Col2 FROM Nombre_tabla;**

Aquí, columna1, columna2, ... son los nombres de los campos de la tabla de la que desea seleccionar datos. Si desea seleccionar todos los campos disponibles en la tabla, utilice la siguiente sintaxis:


**SELECT * FROM Nombre_tabla;**

Existen una declaración parecida al **SELECT** esta declaración seria **SELECT DISTINCT** esta se utiliza para devolver solo valores distintos.

**SELECT DISTINCT Col1,Col2 FROM Nombre_tabla;**

Igual como el **SELECT** se puede obtner todos los valores mediante:

**SELECT * FROM Nombre_tabla;**

##### WHERE

La declaración o cláusula se utiliza para filtrar registros. Basicamente se utilizan para extraer sólo aquellos registros que cumplen una condición especificada.

**SELECT Col1, Col2 FROM Nombre_tabla WHERE condition;**

Un ejemplo de esta declaración seria:

**SELECT * FROM Usuarios WHRERE nombre = "Jose";**

Algunos operadores que se puede utilizar para la cláusula **WHERE** seria: <br>
(>=) Mayor igual a <br>
(=) Igual a <br>
(>) Mayor a <br>
(<) Menor a <br>
(<=) Menor igual a <br>
IN <br>
BETWEEN <br>
LIKE

##### INSERT INTO

La declaración se utiliza para insertar nuevos registros en una tabla, existen dos maneras de insertar datos en una tabla y estas son:

La primera forma seria Especificar los nombres de las columnas y los valores que se insertarán

**INSERT INTO Nombre_tabla(col1,col2,col3) VALUES (value1,value2,value3)**

La segunda forma es que si va agreagr valores para todos las columnas de la tabla , no necesita especificar los nombres de las columnas en la consulat SQL.

**INSERT INTO Nombre_tabla VALUES (value1,value2,value3)**

Un ejemplo de INSERT INTO seria:

**INSERT INTO Jugador(nombre,apellido,goles) VALUES ("Wayne","Ronney",312),("Cristiano","Ronaldo",920), ("Lionel","Messi",878);**

##### UPDATE

La declaración **UPDATE** se utiliza para modificar o actaulizar la información de un registro de una columna siendo su forma en la cual tiene que escribir su consulta la siguiente:

**UPDATE Nombre_tabla SET Col1 = value1, Col2 = value2, Col3 = value3... WHERE condition;**

Como podemos apreciar en la consulta colocamos la cláusula **WHERE** ya que modificaremos un registro de una columna dependiendo de una condición

Un ejemplo seria:
**UPDATE jugadores SET nombre = "Zlatan", apellido = "Ibrahomovic" WHERE id = 1;**

##### DELETE

La declaración **DELETE** se utilizan para borrar registros existentes en una tabla , la forma en la cual tiene que hacer para escribir la consulta es la siguiente:

**DELETE Nombre_tabla WHERE condition;**

A su vez podemos borrar todos los registros de una tabla asi:

**DELETE Nombre_tabla;**